<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/logo.png" alt="Logo de l'application">
        </div>
        <h1>Matchs League of Legends</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2025 - Matchs League of Legends</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
