{% extends "base.html" %}

{% block title %}Détails du Match {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match.css') }}">

{% endblock %}


{% block content %}
<div class="match-container" data-match-id="{{ match_id }}">
    <div class="team-composition" id="team1-composition"></div>
    <div id="match-details">
        <div class="match-info" id="match-container" >Chargement... </div>
        <div class="match-info" id="game-container">
            <div class="game-selection" id="game-selection">
                <!-- Les boutons seront ajoutés dynamiquement -->
            </div>
            <div id="game-details">Chargement... </div>
        </div>
    </div>
    <div class="team-composition" id="team2-composition"></div>


</div>
<button class="back-button" onclick="goBack()">Retour</button>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/match.js') }}"></script>
<script>


</script>
{% endblock %}
